{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <div class="w-64 mx-auto mt-8">
        <form class="w-full max-w-sm" method="post">


            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as
                    {{ app.user.username }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-3xl font-bold mb-4">Login</h1>

            <div class="mb-8">
                <label class="block form-label"
                       for="inputEmail">
                    Email
                </label>
                <input class="form-control"
                       id="inputEmail"
                       name="username"
                       placeholder="johndoe@mail.com"
                       required
                       type="email"
                       value="{{ last_username }}"
                >
            </div>

            <div class="mb-8">
                <label class="block form-label"
                       for="inputPassword">
                    Password
                </label>
                <input
                    class="form-control"
                    id="inline-username"
                    placeholder="********"
                    required
                    type="password"
                >
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
            <button class="btn btn-primary block ml-auto"
                    type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
