<header class="h-16 border-b border-gray-200">
    <div class="container h-full flex items-stretch justify-between text-sm">
        <div class="flex items-center">
            {% if not app.user %}
                <h1 class="text-base font-semibold tracking-tight">
                    <a href="{{ path('index') }}">Studiary</a>
                </h1>
            {% else %}
                {% set user = app.user %}
                {% set currentPath = app.request.pathinfo | trim('/') | split('/') %}
                <div>
                    <div class="flex items-center">
                        <a class="text-base font-semibold"
                            href="{{ path('index') }}">
                            {{ user.firstName }} {{ user.lastName }}
                        </a>
                        {% for pageName in currentPath %}
                            <span class="mx-2 text-base text-gray-300">/</span>
                            <span class="text-gray-600">{{ pageName }}</span>
                        {% endfor %}
                    </div>
                    {% if 'ROLE_TEACHER' in user.roles %}
                        <div class="text-xs text-gray-500">Teacher</div>
                    {% elseif 'ROLE_STUDENT' in user.roles %}
                        <div class="text-xs text-gray-500">{{ user.grade }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="flex items-center text-gray-600">
            {% if app.user %}
                {% if 'ROLE_TEACHER' in user.roles %}
                    <a class="hover:text-black mr-8"
                       href="{{ path('notes_index') }}">
                        Notes
                    </a>
                {% endif %}

                <a class="hover:text-black mr-8"
                   href="{{ path('account') }}">
                    Account
                </a>
                <a class="hover:text-black" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="hover:text-black" href="{{ path('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</header>
