<header class="py-4 border-b border-gray-200">
    <div class="container flex justify-between text-sm">
        <div class="flex items-center">
            {% if not app.user %}
                <h1 class="text-base font-semibold tracking-tight">
                    <a href="{{ path('index') }}">Studiary</a>
                </h1>
            {% else %}
                {% set user = app.user %}
                <a class="text-base font-semibold"
                   href="{{ path('index') }}">
                    {{ user.firstName }} {{ user.lastName }}
                </a>
                {% if 'ROLE_STUDENT' in user.roles %}
                    <div class="ml-2">
                        |<span class="ml-2">{{ user.grade }}</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="flex items-center text-gray-600">
            {% if app.user %}
                {% if 'ROLE_TEACHER' in user.roles %}
                    <a class="hover:text-black mr-8"
                       href="{{ path('notes_index') }}">
                        Notes
                    </a>
                {% endif %}
                <a class="hover:text-black" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="hover:text-black" href="{{ path('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</header>
