<header class="py-2 border-b border-gray-300">
    <div class="container">
        {% if app.user %}
            {% set user = app.user %}
            <div class="flex items-center text-sm">
                <div>
                    <span class="font-semibold">{{ user.firstName }} {{ user.lastName }}</span>
                    ({{ user.email }})
                </div>
            </div>
            {% if 'ROLE_STUDENT' in user.roles %}
                {{ user.grade }}
            {% elseif 'ROLE_TEACHER' in user.roles %}
                t
            {% endif %}
            {#<a href="{{ path('app_logout') }}">Logout</a>#}
        {% endif %}
    </div>
</header>
