{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="mb-4 text-4xl font-bold tracking-tight leading-tight">
            Welcome {{ app.user.firstName }}
        </h1>

        <div class="grid md:grid-cols-2 gap-8 text-sm">
            <div>
                <h2 class="mb-3 text-lg font-semibold">Your next lessons</h2>

                {% if lessons %}
                    <div class="text-sm">
                        {% for lesson in lessons %}
                            <div>
                                <div class="px-2 py-1 font-semibold bg-gray-200 rounded">
                                    {{ lesson.startDate | date('D j M', timezone="Europe/Paris") }}
                                </div>

                                <div class="flex items-center">
                                    <div class="pl-4 pr-2 py-1 text-xs text-right">
                                        <div>{{ lesson.startTime | date('H:i', timezone="Europe/Paris") }}</div>
                                        <div>{{ lesson.endTime | date('H:i', timezone="Europe/Paris") }}</div>
                                    </div>

                                    <div class="py-1 px-2 truncate">
                                        <div class="text-base truncate">{{ lesson.subject }}</div>
                                        <div class="text-xs text-gray-600 truncate">{{ lesson.name }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    No more lessons!
                {% endif %}
            </div>

            <div>
                <h2 class="mb-3 text-lg font-semibold">Your last notes</h2>

                {% if notes %}
                    <div>
                        {% for note in notes %}
                            <div class="flex mb-2">
                                <div class="flex-grow">
                                    <div>{{ note.subject }}</div>
                                    <div class="text-xs text-gray-600">
                                        {{ note.date | date('D j M', timezone="Europe/Paris") }}
                                    </div>
                                </div>
                                <div>{{ note.value }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    No notes for now.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
